body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    height: 340px;
    width: 100%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.image img {
    background-color: rgb(225, 215, 204);
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
}

.heading {
    display: block;
    width: auto;
    margin: 1vw 1vw;
    text-align: center;
    margin-bottom: 0;
}

.heading h1 a {
    text-decoration: none;
}

.heading p {
    font-size: 1.2rem;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

.links .item {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 2.5vw;
    width: 16vh;
    margin: 0 1vw;
    padding: 0 1vw;
}

.links .item a:hover {
    color: black;
}

.item a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-item-wrap {
    margin-bottom: 10px; /* Adjust spacing between items */
}

.page-item-each {
    background-color: white; /* Red color */
    color: black; /* Text color */
    border-radius: 10px; /* Rounded corners */
    width: 500px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    text-decoration: none; /* Remove default underline */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item-each:hover {
    background-color: #f2e4e4; /* Darker red color on hover */
}

@media (max-width: 900px) {
    /* Add specific styles for screens wider than 600px (tablets and desktops) */
    .container{
        height: 313px;
    }
    .image img {
        width: 8vw;
        height: 8vw;
    }

    .links .item {
        height: 7.5vw;
        width: 16vh;
        margin: 3px 2vw;
        padding: 1px 1vw;
    }

    .box {
        height: 4vw;
        width: 40vw;
    }
}
